<!DOCTYPE html>
<html>
<head>
    <title>Главная</title>
    <meta charset="utf-8" />
</head>
<body>
<script type="text/javascript">
    <!--
    function LoadServ(){
        var A = document.getElementById("A").value;
        var B = document.getElementById("B").value;
        var S = +A + +B;
        //document.getElementById("tx").textContent+="<p>Hello</p>";
        document.getElementById("tx").innerHTML+="<p>Hello: " + S + "</p>";
        //alert('A + B = ' + S.toString());
    }
    //-->
</script>
<h1>{header}</h1>
<p>{message}</p>
<input type="text" id="A"/>
<input type="text" id="B"/>
<p onclick="LoadServ()"> OK
</p>
<div id = "tx"> </div>
</body>
<html>